<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string><![CDATA[https://api.baiblog.ren/d/5fecb4899aa303adc3234de69a91c665736b43f6]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string><![CDATA[https://cdn.jsdelivr.net/gh/zsbai/CDN@master/picgo/20210203184002.png]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true/>
               <key>url</key>
               <string><![CDATA[https://cdn.jsdelivr.net/gh/zsbai/CDN@master/picgo/20210203184002.png]]></string>
             </dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>com.jiuguaooooo.cn</string>
             <key>bundle-version</key>
             <string><![CDATA[1.0.0]]></string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string><![CDATA[bikacg]]></string>
           </dict>
        </dict>
      </array>
  </dict>
</plist>